# Datenverarbeitung
numpy>=1.24
pandas>=2.0
scikit-learn>=1.3

# Visualisierung
matplotlib>=3.7
seaborn>=0.12

# Machine Learning
xgboost>=2.0
tensorflow>=2.12

# Optional: API-Zugriff auf ENTSO-E
entsoe-py>=0.3.7
